<h1 class='page-header'>Leaderboard</h1>
<p>Updates every 10 seconds!</p>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Rank</td>
      <td>Name</td>
      <td>Score</td>
      <td>Games Played</td>
    </tr>
  </thead>
  <tbody id='index-table-body'>
  </tbody>
</table>
<script>
    window.addEventListener('load', function(){new UserWorker})
</script>
