<h1 class='page-header'>Leaderboard</h1>

<table class="table table-striped">
  <tr>
    <td>Rank</td>
    <td>Name</td>
    <td>Score</td>
    <td>Games Played</td>
  </tr>
</table>

<div class="alert alert-warning" role="alert">This is a sample page.</div>

<%= image_tag('leaderboard.png') %>
