<h1 class='page-header'>Leaderboard</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Rank</td>
      <td>Name</td>
      <td>Score</td>
      <td>Games Played</td>
    </tr>
  </thead>
  <tbody>
  	<tr>
      <td>1</td>
      <td>test</td>
      <td>teste</td>
      <td>testII Played</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-warning" role="alert">This is a sample page.</div>

<%= image_tag('leaderboard.png') %>
